<!doctype html>
<html>
   <body>
   
      <form action = "/result" method = "POST">
         <p>Name <input type = "text" name = "Name" /></p>
         <!-- 학번 -->
         <!-- 성별 -->
         <!-- 학과 -->
         <!-- 프로그래밍 언어 -->
         <p>Programming Languages</p>
         <input type = "checkbox" name = "Programming Languages" value="Python"> Python
         <input type = "checkbox" name = "Programming Languages" value=" Java"> Java
         <input type = "checkbox" name = "Programming Languages" value=" HTML"> HTML
         <input type = "checkbox" name = "Programming Languages" value=" C++"> C++

         <p><input type = "submit" value = "submit" /></p>
      </form>
      
   </body>
</html>
